.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  --header-height: 80px;
  --header-width: 80px;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  height: var(--header-height);
  width: var(--header-width);
  background-color: white;
  border-radius: 50%;
}

.arm {
  height: 76px;
  width: 20px;
  border-radius: 20px;
  margin: 4px;
  background-color: white;
  align-self: baseline;
  margin-top: calc(10px + var(--header-height));
}

.arm.right {
  animation-duration: 0.4s;
  animation-iteration-count: infinite;
}

.body {
  margin-top: 6px;
  height: 80px;
  width: 80px;
  border-radius: 20px;
  background-color: white;
}

.legs {
  display: flex;
}

.leg {
  height: 60px;
  width: 24px;
  border-radius: 20px;
  margin: 5px 4px;
  background-color: white;
}
