.sidebar {
  width: 220px;
  height: 100vh;
  border-right: 1px solid white;
  padding: 14px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.link {
  color: white;
  font-size: 18px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 24px 12px;
  text-decoration: none;
  border-bottom: 1px solid white;
}
