.root {
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--bottom-nav-height);
  background-color: var(--bottom-nav-bg);
  width: 100%;
  padding: 14px 32px;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-weight: 400;
  font-size: 10.5px;
  line-height: 13px;
  text-decoration: none;
}

.link:not(.active) {
  opacity: 0.45;
}

.link svg {
  fill: var(--white);
  margin-bottom: 8px;
}
