.overlay {
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  height: 200px;
  width: 320px;
  background-color: var(--main-background);
  border-radius: 8px;
  border: 2px solid var(--white);
  padding: 8px;
}
