.root {
  height: 38px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}