.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  margin: 20px;
}

.root:first-child {
  margin-top: 32px;
}

.title {
  font-weight: 700;
  font-size: 27px;
  line-height: 34px;
  color: var(--white);
  flex-grow: 1;
}

.right {
  flex-shrink: 0;
}

.right:empty {
  display: none;
}

