:root {
  --main-background: #282c34;
  --blue: #29a7f0;
  --blue-hovered: #1d94d9;
  --white: white;

  --card-image-height: 150px;
  --card-image-width: 150px;
  --card-title-height: 20px;

  --card-height: calc(var(var(--card-image-height)) + var(var(--card-title-height)));
  --card-width: var(--card-image-width);

  --border-color: whitesmoke;
  --image-preload-color: gray;

  --bottom-nav-height: 84px;
  --bottom-nav-bg: #0D0F22;
}

.light {
  --main-background: yellow;
}