.root {
  display: flex;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin: 4px 0;
  align-items: center;
}

.img {
  margin-right: 8px;
  border-radius: 4px;
  height: 40px;
  width: 40px;
  background-color: var(--image-preload-color);
}
